@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: white;
}

.container {
    width: 100%;
    height: auto;
}

header {
    background-color: grey;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 999;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: White;
    padding: 15px;
    text-align: center;
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-list ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-item {
    margin: 20px;
    margin-right: 50px;
}

.menu-link {
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight: 700;
    transition: 0.4s;
}

.menu-link:hover {
    color: black;
}

.mobile-menu-icon {
    padding: 5px;
}

.mobile-menu-icon {
    display: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.mobile-menu-icon:hover {
    background-color: #b6b6b66e;
}

.mobile-menu {
    display: none;
    background-color: grey;
}

@media screen and (max-width: 730px) {
    .menu-item {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 5px;
    }
    .mobile-menu .menu-item {
        display: block;
        padding: 5px 10px;
    }
    .mobile-menu {
        width: 100%;
    }
    .open {
        display: block;
    }
}


/*===========*/

footer {
    width: 100%;
    padding: 2px;
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: blue;
}